<head>
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<head>
<p id="notice"><%= notice %></p>

<h1>Homes</h1>




<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Postalcode</th>
      <th>Country</th>
      <th>Province</th>
      <th>Location</th>
      <th>Reference</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.account.first_name %></td>
        <td><%= home.address %></td>
        <td><%= home.postalcode %></td>
        <td><%= home.country %></td>
        <td><%= home.province %></td>
        <td><%= home.location %></td>
        <td><%= home.reference %></td>
        <td><%= link_to 'Show', home, class: 'btn btn-sm btn-outline-success' %></td>
        <td><%= link_to 'Edit', edit_home_path(home), class: 'btn btn-sm btn-outline-success' %></td>

        <td><%= link_to 'Destroy', home, class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path, class: 'btn btn-sm btn-outline-success' %>
<%= link_to 'BUY', new_billing_path, class: 'btn btn-sm btn-outline-success' %>
