<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @home.postalcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @home.country %>
</p>

<p>
  <strong>Province:</strong>
  <%= @home.province %>
</p>

<p>
  <strong>Location:</strong>
  <%= @home.location %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @home.reference %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
