<head>
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<head>
<p id="notice"><%= notice %></p>

<h1>Billings</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @billings.each do |billing| %>
      <tr>
        <td><%= billing.date %></td>
        <td><%= link_to 'Show', billing, class: 'btn btn-sm btn-outline-success' %></td>
        <td><%= link_to 'Edit', edit_billing_path(billing), class: 'btn btn-sm btn-outline-success' %></td>
        <td><%= link_to 'Destroy', billing, class: 'btn btn-sm btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing', new_billing_path %>
<%= link_to 'CONFIRM', '#', class: 'btn btn-sm btn-outline-success' %>
