<head>
  <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
<head>
<p id="notice"><%= notice %></p>

<h1>PRODUCT STORE</h1>


<div class="card-group">
  <% @products.each do |product| %>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top img-thumbnail mx-auto d-block img-fluid" height="90px" src="<%= product.image %>">
      

      <div class="card-body">
        <h5 class="card-title"><strong><%= product.name %></strong><br><small>(<%= product.category.name %>)</small></h5>

        <% if product.discountpercentage > 0 %>
          <span class="badge badge-pill badge-success float-right"> <%= product.discountpercentage %>% OFF </span>
        <% end %>

        <p class="card-text"><%= product.description %></p>
        
        <% if product.discountpercentage > 0 %>
          <p class="card-text"><strong>Price: <p><s><%= product.price %></s></p></strong><%= price_calculate(product) %></p>
        <% else %>
          <p class="card-text"><strong>Price: </strong><%= product.price %></p>
        <% end %>

        

        <%= link_to 'SHOW', product, class: 'btn btn-sm btn-outline-secondary' %>
        <%= link_to 'Add to Cart', line_items_path(product_id: product), class: 'btn btn-sm btn-outline-secondary' %>
        <%= check_stock(product) %>
        
        
 
        <div class="card-footer">
          <small class="text-muted">Last updated:<br><%= product.updated_at %></small>
        </div>
      </div>
    </div>

  <% end %>
</div>

